<a href="<%= cats_url %>">Cats Index</a>


<form action="<%= cats_url %>" method="POST">
    <label for="cat_name">Name: </label>
    <input placeholder='Name' type="text" id="cat_name" name="cat[name]" />
    <input placeholder='Sex' type="text" id="cat_name" name="cat[name]" />
    <input placeholder='Color' type="text" id="cat_name" name="cat[name]" />
    <input placeholder='Birthdate' type="date" id="cat_name" name="cat[name]" />
    <text-area type="text" id="cat_name" name="cat[name]" >
    
    </text-area>







</form>

